.footer {
    position: fixed;
    left: 16px;
    bottom: 16px;
    text-align: left;
    background: rgba(0, 0, 0, .7);
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .95;
    backdrop-filter: blur(8px);
    align-items: center;
    text-align: center;
  }
  
  .footer span {
    font-size: 14px;
    color: #ff9800;
    opacity: .8;
  }
  
  .footer h4, .footer h5 {
    margin: 0;
    display: flex;
  }

  @media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 16px;
        font-size: 10px;
    }

    .footer span{
        display: none;
    }

    .footer h5{
        display: none;
    }
}